
*{
    color: var(--text-color);
}

:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--canvas-color);
}

button{
    background-color: transparent;
    border: 0;
}

i{
    display: flex;
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

$gap: 1em;
$padding: 1em;
$border-radius: .65em;
.github-search{
    padding-block: 4em;
    flex: 1;
    font-size: 1.1em;
    max-width: min(43em, 90%);
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: $gap;
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: $gap;
        font-size: clamp(0.7em, 6vw, 1em);
        .logo{
            font-size: 1.7em;
            font-weight: 600;
        }
        .theme-switch{
            font-size: 1em;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: .8em;
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
            span{
                font-weight: 600;
                letter-spacing: .2em;
                font-size: .8em;
            }
        }
    }

    .user-search{
        display: flex;
        justify-content: space-between;
        background-color: var(--bkg-color);
        padding: calc($padding / 2);
        border-radius: $border-radius;
        box-shadow: 0 16px 30px -10px #4660bb33;
        font-size: clamp(.5em, 3vw, 1em);
        .search{
            display: flex;
            align-items: center;
            gap: $gap;
            width: 100%;
            margin-inline: $padding;
            i{
                color: var(--blue-color);
                font-size: 1.5em;
            }
            #search-user{
                background-color: transparent;
                font-size: 1em;
                font-weight: 100;
                border: 0;
                width: 100%;
                &:focus{
                    outline: 0;
                }
                &::placeholder{
                    color: var(--text-color);
                }
            }
            .error-message{
                animation: slide-up 150ms ease-in-out;
                opacity: 0.7;
                min-width: fit-content;
                transition: color 200ms ease-in-out;
                @media (max-width: 745px) {
                    display: none;
                }
            }
        }
        .search-btn{
            background-color: var(--blue-color);
            font-weight: 700;
            font-size: 1em;
            padding: 1em 1.7em;
            border-radius: $border-radius;
            transition: opacity 150ms ease-in-out;
            color: white;
            &:hover{
                cursor: pointer;
                opacity: .8;
            }
        }
    }
    .user-wrapper{
        background-color: var(--bkg-color);
        box-shadow: 0 16px 30px -10px #4660bb33;
        padding: $padding*3;
        border-radius: $border-radius;
        display: grid;
        gap: $gap;
        column-gap: $gap*1.5;
        grid-template-columns: .6fr 1fr 1fr;
        grid-template-areas:
        "a b b"
        "a c c";
        position: relative;

        .profile-picture{
            grid-area: a;
            max-width: 100%;
            border-radius: 100vh;
        }

        .main-info{
            grid-area: b;
            display: flex;
            gap: $gap;
            justify-content: space-between;
            .identifier{
                display: flex;
                flex-direction: column;
                .name{
                    font-weight: 600;
                    font-size: 1.6em;
                    line-height: .9;
                }
                .username{
                    color: var(--blue-color);
                    line-height: 1.6;
                }
            }
        }

        .about-user{
            grid-area: c;
            display: flex;
            flex-direction: column;
            gap: $gap;
            .not-available{
                opacity: 0.5;
            }
            .status{
                background-color: var(--canvas-color);
                padding: $padding calc($padding*1.5);
                border-radius: $border-radius;
                overflow: auto;
                display: flex;
                gap: 6vw;
                .status-wrapper{
                    display: flex;
                    flex-direction: column;
                    .status-name{
                        font-size: .84em;
                        font-weight: 100;
                    }
                    .status-info{
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }

            }
    
            .additional-info{
                display: grid;
                overflow-wrap: anywhere;
                grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
                gap: $gap;
                .info{
                    display: flex;
                    gap: $gap;
                    .info-description{
                        font-size: .86em;
                        font-weight: 100;
                    }
                }
                .not-available{
                    opacity: 0.5;
                }
            }
        }
        .error-message{
            display: none;
        }
        @media (max-width: 745px) {
            grid-template-areas:
            "a b b"
            "c c c";
            grid-template-columns: repeat(3, 1fr);
            padding: calc($padding * 2);
            font-size: clamp(0.7em, 3.9vw, 1em);
            gap: calc($gap*2);

            .main-info{
                flex-direction: column;
                justify-content: center;
                gap: 0;
            }
            .error-message{
                display: block;
                position: absolute;
                top: 2vw;
                right: 3em;
                animation: slide-up 150ms ease-in-out;
                opacity: 0.7;
                min-width: fit-content;
                transition: color 200ms ease-in-out;
                font-size: .85em;
            }
            .about-user{
                .status{
                    gap: 11vw;
                    @media (max-width: 500px) {
                        gap: .4em;
                        justify-content: space-between;
                        .status-wrapper{
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@keyframes slide-up {
    0% {
        color: rgb(255, 55, 55);
        opacity: 0;
        transform: translateY(20px) scale(0.5);
    }
    100% {
        color: inherit;
        opacity: 0.8;
        transform: translateY(0) scale(1);
    }
}