<section class="github-search">
    <header>
        <span class="logo">devfinder</span>
        <button class="theme-switch">
            <span>light</span>
            <i class="fi fi-sr-brightness"></i>
        </button>
    </header>

    <div class="user-search">
        <div class="search">
            <label for="search-user"><i class="fi fi-rs-search search-icon"></i></label>
            <input (keyup.enter)="getUser(searchResponse)" [(ngModel)]="searchResponse" type="text" placeholder="Search GitHub username..." name="search-user" id="search-user">
        </div>
        <button (click)="getUser(searchResponse)" class="search-btn">Search</button>
    </div>

    <div class="user-wrapper">
        <img class="profile-picture" src="https://avatars.githubusercontent.com/u/96441062?v=4" alt="">
        <div class="main-info">
            <div class="identifier">
                <span class="name">{{(user | async)?.name}}</span>
                <a href="google.com" class="username">&#64;{{(user | async)?.login}}</a>
            </div>
            <span class="join-date">{{(user | async)?.created_at}}</span>
        </div>
        <div class="about-user">
            <div class="bio-wrapper">
                <p class="bio" data-status="NA">{{(user | async)?.bio}}</p>
            </div>
            <div class="status">
                <div class="status-wrapper">
                    <span class="status-name">Repos</span>
                    <span class="status-info">{{(user | async)?.public_repos}}</span>
                </div>
                <div class="status-wrapper">
                    <span class="status-name">Followers</span>
                    <span class="status-info">{{(user | async)?.followers}}</span>
                </div>
                <div class="status-wrapper">
                    <span class="status-name">Following</span>
                    <span class="status-info">{{(user | async)?.following}}</span>
                </div>
            </div>
    
            <div class="additional-info">
                <div class="info">
                    <i class="fi fi-sr-marker"></i>
                    <span class="info-description">{{(user | async)?.location}}</span>
                </div>
                <div class="info">
                    <i class="fi fi-brands-twitter"></i>
                    <span class="info-description">{{(user | async)?.twitter_username}}</span>
                </div>
                <div class="info">
                    <i class="fi fi-br-link-alt"></i>
                    <a href="https://github.blog" class="info-description">{{(user | async)?.blog}}</a>
                </div>
                <div class="info">
                    <i class="fi fi-ss-building"></i>
                    <span class="info-description">&#64;{{(user | async)?.company}}</span>
                </div>
            </div>

        </div>
    </div>
</section>