<section class="github-search">
    <header>
        <span class="logo">devfinder</span>
        <button (click)="toggleDarkMode()" class="theme-switch">
            @if(darkMode){
                <span>light</span>
                <i class="fi fi-sr-brightness"></i>
            }@else {
                <span>dark</span>
                <i class="fi fi-ss-moon-stars"></i>
            }
        </button>
    </header>

    <div class="user-search">
        <div class="search">
            <label for="search-user"><i class="fi fi-rs-search search-icon"></i></label>
            <input (keyup.enter)="getUser(searchResponse)" [(ngModel)]="searchResponse" type="text" placeholder="Search GitHub username..." name="search-user" id="search-user">
            <div *ngIf="error" class="error-message">{{ error }}</div>
        </div>
        <button (click)="getUser(searchResponse)" class="search-btn">Search</button>
    </div>

    <div *ngIf="(user$ | async) as user" class="user-wrapper">
        <div *ngIf="error" class="error-message">{{ error }}</div>
        <img class="profile-picture" src="{{user.avatar_url}}" alt="">
        <div class="main-info">
            <div class="identifier">
                <span class="name">{{user.name || user.login}}</span>
                <a href="{{user.html_url}}" class="username">&#64;{{user.login}}</a>
            </div>
            <span class="join-date">Joined {{user.created_at | date:'dd MMM yyyy'}}</span>
        </div>
        <div class="about-user">
            <div class="bio-wrapper" [ngClass]="{'not-available': !user.bio}">
                <p class="bio">{{user.bio || "This profile has no bio"}}</p>
            </div>
            <div class="status">
                <div class="status-wrapper">
                    <span class="status-name">Repos</span>
                    <span class="status-info">{{user.public_repos}}</span>
                </div>
                <div class="status-wrapper">
                    <span class="status-name">Followers</span>
                    <span class="status-info">{{user.followers}}</span>
                </div>
                <div class="status-wrapper">
                    <span class="status-name">Following</span>
                    <span class="status-info">{{user.following}}</span>
                </div>
            </div>
    
            <div class="additional-info">
                <div class="info" [ngClass]="{'not-available': !user.location}">
                    <i class="fi fi-sr-marker"></i>
                    <span class="info-description">{{user.location || "Not Available"}}</span>
                </div>
                <div class="info" [ngClass]="{'not-available': !user.twitter_username}">
                    <i class="fi fi-brands-twitter"></i>
                    @if(user.twitter_username){
                    <a href="https://twitter.com/{{user.twitter_username}}" class="info-description">{{user.twitter_username}}</a>
                    }@else {
                        <span class="info-description">Not Available</span>
                    }
                </div>
                <div class="info" [ngClass]="{'not-available': !user.blog}">
                    <i class="fi fi-br-link-alt"></i>
                    @if(user.blog){
                        <a href="{{user.blog}}" class="info-description">{{user.blog}}</a>
                    }@else {
                        <span class="info-description">Not Available</span>
                    }
                </div>
                <div class="info" [ngClass]="{'not-available': !user.company}">
                    <i class="fi fi-ss-building"></i>
                    <span class="info-description">{{user.company || "Not Available"}}</span>
                </div>
            </div>

        </div>
    </div>

</section>