<section class="github-search">
    <header>
        <span class="logo">devfinder</span>
        <button class="theme-switch">
            <span>light</span>
            <i class="fi fi-sr-brightness"></i>
        </button>
    </header>

    <div class="user-search">
        <div class="search">
            <label for="search-user"><i class="fi fi-rs-search search-icon"></i></label>
            <input type="text" placeholder="Search GitHub username..." name="search-user" id="search-user">
        </div>
        <button class="search-btn">Search</button>
    </div>

    <div class="user-wrapper">
        <img class="profile-picture" src="https://avatars.githubusercontent.com/u/96441062?v=4" alt="">
        <div class="main-info">
            <div class="identifier">
                <span class="name">The Octocat</span>
                <a href="google.com" class="username">&#64;octocat</a>
            </div>
            <span class="join-date">Joined 25 Jan 2011</span>
        </div>
        <div class="about-user">
            <div class="bio-wrapper">
                <p class="bio">This profile has no bio</p>
            </div>
            <div class="status">
                <div class="status-wrapper">
                    <span class="status-name">Repos</span>
                    <span class="status-info">8</span>
                </div>
                <div class="status-wrapper">
                    <span class="status-name">Followers</span>
                    <span class="status-info">3938</span>
                </div>
                <div class="status-wrapper">
                    <span class="status-name">Following</span>
                    <span class="status-info">9</span>
                </div>
            </div>
    
            <div class="additional-info">
                <div class="info">
                    <i class="fi fi-sr-marker"></i>
                    <span class="info-description">San Francisco</span>
                </div>
                <div class="info">
                    <i class="fi fi-brands-twitter"></i>
                    <span class="info-description">Not Available</span>
                </div>
                <div class="info">
                    <i class="fi fi-br-link-alt"></i>
                    <a href="https://github.blog" class="info-description">https://github.blog</a>
                </div>
                <div class="info">
                    <i class="fi fi-ss-building"></i>
                    <span class="info-description">&#64;github</span>
                </div>
            </div>

        </div>
    </div>
</section>